@font-face {
    font-family: Compacta;
    src: url(../fonts/Compacta.otf);
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/Harmonia.otf);
}

@font-face {
    font-family: Typewriter;
    src: url(../fonts/Typewriter.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Compacta;
    //letter-spacing: 2px;
    //color: #131313;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    &:focus{
        outline: none !important;
      }
}

body{
    background-color: #131313;
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px;
        font-size: 120px;
        color: rgb(191, 0, 0);
    }
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}

.contentInput{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    p{
        font-family: Harmonia;
        font-weight: bolder;
        font-size: 22px;
        color: rgb(236, 0, 0);
    }
}

#nameInput{
    width: 350px;
    height: 30px;
    font-family: Typewriter;
    font-size: 20px;
    background-color: rgb(236, 0, 0);;
    border: none;
    padding-left: 10px;
    margin-left: 4px;
}

#questionInput{
    width: 800px;
    height: 30px;
    font-size: 20px;
    font-family: Typewriter;
    background-color: rgb(236, 0, 0);
    border: none;
    padding-left: 10px;
    margin-left: 4px;
}

.contentResult{
    margin-top: 70px;
    display: flex;
    background-color: #EDEADE;
    width: 80%;
    max-width: 700px;
    height: 600px;
    overflow-y: scroll;
}

#pentagram{
    margin-top: 40px;
    height: 150px;
    width: 150px;
    img{
        height: 150px;
        width: 150px;
    }
    &:hover{
        cursor: pointer;
    }
}

#response{
    margin: 20px;
    font-family: Typewriter;
    line-height: 3;
}

.fade-in {
    animation: fadeIn 8s ease forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(236, 0, 0) inset !important;
}

/*#jumpscareVideo{
    display: none;
    position: sticky;
    height: 100vh;
    top: 0px;
    justify-content: center;
    align-items: center;
}*/

#jumpscareVideoDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
}

#jumpscareVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media only screen and (min-width: 700px) and (max-width: 1000px){
    #nameInput{
        width: 250px;
    }
    #questionInput{
        width: 570px;
    }
}

@media only screen and (max-width: 699px){
    body{
        h1{
            font-size: 130px;
        }
    }
    #nameInput{
        width: 230px;
        margin-top: 20px;
    }
    #questionInput{
        width: 350px;
    }
    .contentInput{
        text-align: center;
        justify-content: center;
        align-items: center;
        p{
            font-size: 18px;
        }
        margin: 0px 30px;
    }
}